#Ignore local logs and config
/local-cron/log
/local-cron/lib/ruby
/local-cron/lib/vendor

#Ignore online packages, config and data
/online-bot/containers/nodejs/src/config/cert
/online-bot/containers/nodejs/src/config/config.js
/online-bot/containers/nodejs/src/config/env
/online-bot/data
/online-bot/containers/nodejs/node_modules
/online-bot/containers/nodejs/logs
/online-bot/containers/nodejs/src/config/env/local.env

#Ignore .DS_store and lockfiles
*.DS_store
*-lock.json
*.lock
traveling-*.tar.gz
dist
