#Ignore local logs and config
/local-cron/log
/local-cron/lib/ruby
/local-cron/lib/vendor

#Ignore online packages, config and data
/online-bot/containers/nodejs/src/config
/online-bot/data
/online-bot/containers/nodejs/node_modules

#Ignore .DS_store and lockfiles
*.DS_store
*-lock.json
*.lock